.middleContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    flex: 1;
    padding: 10px 10px 10px 10px;
}
.data{
    background-color:#dcdde1;
}
html{
    font-family: 'Roboto', sans-serif;
}